* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Ubuntu", sans-serif;
}
.App {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100vh;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #00acb0;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.logo {
  width: 10em;
}
.nav-links {
  display: flex;
  justify-content: center;
  list-style: none;
  width: 75%;
  cursor: pointer;
}
.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  gap: 0.5rem;
}
.nav-list img {
  width: 20px;
}
.nav-links .nav-list:hover {
  text-transform: capitalize;
  transition: all 0.3s ease;
  color: #002743;
}

.home,
.add,
.listProduct {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 20px;
  margin: 0 10px;
  cursor: pointer;
}
.mobile-menu-icon {
  display: none;
}

/*NAVBAR RESPONSIVE*/
@media screen and (max-width: 780px) {
  .Logo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 35px;
  }
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: absolute;
    display: block;
    list-style: none;
    background-color: #002743;
    left: 0;
    top: 75px;
    transition: all 0.5s ease-out;
    width: 100%;
  }
  .home,
  .add,
  .listProduct {
    color: white;
    text-align: center;
    padding: 32px;
    width: 100%;
    transition: all 0.5s ease-out;
  }
  .mobile-menu-icon {
    display: block;
    position: absolute;
    font-size: 30px;
    color: white;
    background-color: #00acb0;
    border: none;
    outline: none;
    top: 15px;
    right: 25px;
  }
}

/*FOOTER*/
.footer {
  background-color: #00acb0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5em 0 0 1em;
  bottom: 0;
  width: 100%;
  gap: 5em;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.row {
  display: flex;
  gap: 3rem;
}
.footerList {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.5rem;
}
.recytech-logo {
  height: 80px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;
  text-transform: capitalize;
  color: white;
  text-decoration: none;
  font-weight: 300;
  color: white;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: black;
  padding-left: 8px;
}
/*responsive*/
@media (max-width: 780px) {
  .row {
    width: 50%;
    margin-bottom: 30px;
  }
  .footerList {
    flex-direction: row;
    gap: 2rem;
    text-align: center;
  }
}
@media (max-width: 574px) {
  .footer-col {
    width: 100%;
  }
  .footer-img {
    display: none;
  }
}

/* HOME (Page D'accueil ) */
.homeHero {
  display: flex;
  flex-grow: 1;
}
.title-home h1 {
  justify-content: center;
  align-items: center;
}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2em 2em;
  margin-top: 2rem;
}
.heroText {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}
.heroText h1 {
  font-size: 50px;
}
.img-home {
  width: 100%;
}
.button-home:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

.button-home:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

.button-home {
  margin: 0 auto;
  display: block;
  position: relative;
  background-color: #ffcc38;
  border: none;
  border-radius: 10px;
  font-size: 19px;
  color: black;
  padding: 10px;
  width: 150px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
@media screen and (max-width: 780px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
}

/*Form*/
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: auto;
}
.form-title {
  padding: 2em;
  font-size: 20px;
}
.form-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 30%;
}
.form-row p {
  padding-bottom: 0.5rem;
}
.form-row textarea {
  width: 100%;
  height: 7em;
  border-radius: 10px;
  background-color: #e62460;
  border: 3px solid white;
}
select,
input[type="checkbox"] {
  width: 100%;
  padding: 0.5em;
  font-size: 16px;
  border-radius: 10px;
  background-color: #e62460;
  color: white;
  border: 3px solid white;
}
.antutu {
  width: 95%;
  padding: 0.5em;
  font-size: 16px;
  border-radius: 10px;
  background-color: #e62460;
  color: white;
  border: 3px solid white;
}
.btn-form {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 2em;
}
.btn1 {
  font-size: 16px;
  padding: 1em 1em;
  width: 50%;
  background-color: #ffcc38;
  color: black;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
}

/*List product */
.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.product-table th,
.product-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.product-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.product-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.product-table tr:hover {
  background-color: #e2e2e2;
}
/*DESC Produit*/

.desc {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1em;
}
.listDesc {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 5px solid white;
  width: 100%;
  right: 50%;
  color: black;
}
.list1 li {
  display: flex;
  padding: 1em;
  text-decoration: none;
}
.imageProduct {
  display: flex;
  position: absolute;
  left: 0;
}
